
body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
}
.character-sheet {
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
}
input[type="text"], textarea, select {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid black;
}
textarea {
    min-height: 50px;
    resize: vertical;
    overflow-y: hidden;
}

.attribute-group {
    margin-bottom: 15px;
}
.attribute-label .checkbox-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
}
.attribute-selects {
    display: flex;
    gap: 10px;
}
.attribute-select {
    width: 60px;
}

.checkbox-group {
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}
.checkbox-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.two-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.two-column {
    width: 48%;
}

.three-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.three-column {
    width: 33%;
}
.footer {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.footer a {
    color: black;
    text-decoration: underline;
}
.footer a:hover {
    text-decoration: none;
}

.color-picker {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
    flex-shrink: 0;
}
.attribute-label {
    width: 50px;
    flex-shrink: 0;
}
.attribute-select {
    width: 60px;
    flex-shrink: 0;
}

.open-tray-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 1px solid;
    font-size: 24px;
}

.close-modal-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-modal-button:hover,
.close-modal-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#dice-box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: ridge #ccc;
    border-width: 1em;
}

#dice-box canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.die-row {
    margin-top: 10px;
}

.die-row:after {
    content: "";
    display: table;
    clear: both;
}

.die-column {
    float: left;
    width: 33.33%;
}

.roll-result {
    font-weight: bold;
}

.result-column {
    text-align: center;
}
